---
interface Props {
  title: string;
  language?: string;
  body: string;
  p?: string;
}

const { title, language, body, p } = Astro.props;

const languageStyles = {
  css: "language-css",
  javascript: "language-js",
  java: "language-java",
};
const languageClass = language
  ? languageStyles[language.toLowerCase()] || ""
  : "";
---

<div class="information">
  <div class="container">
    <h1>
      {title}
      {language && <span class={`language ${languageClass}`}>{language}</span>}
    </h1>
    <p class="information-text">
      {body}
    </p>
    <p class="information-text">
      {p}
    </p>
  </div>
</div>
<style>
  .information {
    padding-top: calc(40px + 2rem);
  }

  .information h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .information-text {
    line-height: 1.2;
    margin-bottom: 10px;
    max-width: 1150px;
    text-wrap: pretty;
  }
  /* Estilos para los lenguajes */
  .language {
    font-weight: 900;
  }

  .language-js {
    color: #f0db4f;
  }

  .language-css {
    color: blue;
  }

  .language-java {
    color: green;
  }
</style>
